<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Unicons -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/style.css" />

    <title>Kévin Sanmartin - Portfolio</title>
    <meta name="description" content="Portfolio de mes différents projets." />
  </head>
  <body>
    <!-- HEADER -->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#home" class="nav__logo">Kévin</a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list grid">
            <li class="nav__item">
              <a href="#skills" class="nav__link">
                <i class="uil uil-file-alt nav__icon"></i>
                Compétences
              </a>
            </li>

            <li class="nav__item">
              <a href="#portfolio" class="nav__link">
                <i class="uil uil-scenery nav__icon"></i>
                Portfolio
              </a>
            </li>

            <li class="nav__item">
              <a href="#contact" class="nav__link">
                <i class="uil uil-message nav__icon"></i>
                Contact
              </a>
            </li>
          </ul>
          <i class="uil uil-times nav__close nav__link" id="nav-close"></i>
        </div>

        <div class="nav__btns">
          <i class="uil uil-moon change-theme" id="theme-button"></i>

          <div class="nav__toggle" id="nav-toggle">
            <i class="uil uil-apps"></i>
          </div>
        </div>
      </nav>
    </header>
    <!-- HEADER END -->

    <!-- MAIN -->
    <main class="main">
      <!-- HOME -->
      <section class="home section" id="home">
        <div class="home__container container grid">
          <div class="home__content grid">
            <div class="home__social">
              <a
                href="https://www.linkedin.com/in/k%C3%A9vin-sanmartin/"
                class="home__social-icon"
                target="_blank"
                rel="noopener"
              >
                <i class="uil uil-linkedin-alt"></i>
              </a>
              <a
                href="https://github.com/kevin-smrt"
                class="home__social-icon"
                target="_blank"
                rel="noopener"
              >
                <i class="uil uil-github-alt"></i>
              </a>
            </div>

            <div class="home__img">
              <svg
                class="home__blop"
                viewBox="0 0 200 187"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <mask id="mask0" mask-type="alpha">
                  <path
                    d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                                    130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                                    97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                                    0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
                  />
                </mask>
                <g mask="url(#mask0)">
                  <path
                    d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                                    165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                                    129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                                    -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
                  />
                  <image href="" />
                  <image
                    class="home__blop-img"
                    xlink:href="img/profil_picture.webp"
                  />
                </g>
              </svg>
            </div>

            <div class="home__data">
              <h1 class="home__title">Bonjour, je m'appelle Kévin</h1>
              <h3 class="home__subtitle">Développeur Front-End</h3>
              <p class="home__description">React/Next.js</p>
              <a href="#contact" class="button">
                Contactez-moi
                <i class="uil uil-message"></i>
              </a>
            </div>
          </div>

          <div class="home__scroll">
            <a href="#skills" class="home__scroll-button button--flex">
              <i class="uil uil-mouse-alt home__scroll-mouse"></i>
              <span class="home__scroll-name">Scrollez vers le bas</span>
              <i class="uil uil-arrow-down home__scroll-arrow"></i>
            </a>
          </div>
        </div>
      </section>
      <!-- HOME END -->

      <!-- SKILLS -->
      <section class="skills section" id="skills">
        <h2 class="section__title">Compétences</h2>
        <span class="section__subtitle">Mon niveau technique</span>

        <div class="skills__container container grid">
          <div>
            <div class="skills__content skills__close">
              <div class="skills__header">
                <i class="uil uil-brackets-curly skills__icon"></i>

                <div>
                  <h1 class="skills__title">Développeur Frontend</h1>
                  <span class="skills__subtitle"
                    >Mes principales compétences</span
                  >
                </div>

                <i class="uil uil-angle-down skills__arrow"></i>
              </div>

              <div class="skills__list grid">
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Javascript</h3>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">React</h3>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">NextJS</h3>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">TypeScript</h3>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Git & Github</h3>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Scrum</h3>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">SEO</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="skills__content skills__close">
              <div class="skills__header">
                <i class="uil uil-server-network skills__icon"></i>

                <div>
                  <h1 class="skills__title">Développeur Backend</h1>
                  <span class="skills__subtitle"
                    >J'ai aussi quelques compétences orientées back</span
                  >
                </div>

                <i class="uil uil-angle-down skills__arrow"></i>
              </div>

              <div class="skills__list grid">
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Node.js</h3>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">Express</h3>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills__name">SQL</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- SKILLS END -->

      <!-- PORTFOLIO -->
      <section class="portfolio section" id="portfolio">
        <h2 class="section__title">Portfolio</h2>
        <span class="section__subtitle">Mes projets Github</span>

        <div class="portfolio__container container swiper">
          <div class="swiper-wrapper">
            <div class="portfolio__content grid swiper-slide">
              <img
                src="img/projects/GCORP-screenshot.png"
                alt="Image Projet"
                class="portfolio__img"
              />

              <div class="portfolio__data">
                <h3 class="portfolio__title">Site de Photographe</h3>
                <p class="portfolio__description">
                  Mon 1er projet professionnel, un site de photographe, créé
                  avec React et NextJS.
                </p>
                <a
                  href="https://meganeguisnet.com/"
                  class="button button--flex button--small portfolio__button"
                  target="_blank"
                >
                  Voir le site
                  <i class="uil uil-arrow-right button__icon"></i>
                </a>
              </div>
            </div>

            <div class="portfolio__content grid swiper-slide">
              <img
                src="img/projects/numerology-screenshot.png"
                alt="Image Projet"
                class="portfolio__img"
              />

              <div class="portfolio__data">
                <h3 class="portfolio__title">Landing page Numérologie 2022</h3>
                <p class="portfolio__description">
                  Une landing page multilingue pour fêter l'année 2022 créée
                  avec NextJS. (Projet professionnel)
                </p>
                <a
                  href="https://numerologie2022.cosmospacevoyance.fr"
                  class="button button--flex button--small portfolio__button"
                  target="_blank"
                >
                  Voir le site
                  <i class="uil uil-arrow-right button__icon"></i>
                </a>
              </div>
            </div>

            <div class="portfolio__content grid swiper-slide">
              <img
                src="img/projects/st-valentin-screenshot.png"
                alt="Image Projet"
                class="portfolio__img"
              />

              <div class="portfolio__data">
                <h3 class="portfolio__title">Landing page Saint-Valentin</h3>
                <p class="portfolio__description">
                  Une landing page multilingue pour fêter la Saint-Valentin
                  créée avec NextJS. (Projet professionnel)
                </p>
                <a
                  href="https://saint-valentin.cosmospacevoyance.fr"
                  class="button button--flex button--small portfolio__button"
                  target="_blank"
                >
                  Voir le site
                  <i class="uil uil-arrow-right button__icon"></i>
                </a>
              </div>
            </div>

            <div class="portfolio__content grid swiper-slide">
              <img
                src="img/projects/quizz-love-screenshot.png"
                alt="Image Projet"
                class="portfolio__img"
              />

              <div class="portfolio__data">
                <h3 class="portfolio__title">Landing page façon quizz</h3>
                <p class="portfolio__description">
                  Une landing page multilingue ludique sous forme de quizz sur
                  votre couple créée avec NextJS. (Projet professionnel)
                </p>
                <a
                  href="https://quizz-love.cosmospacevoyance.fr"
                  class="button button--flex button--small portfolio__button"
                  target="_blank"
                >
                  Voir le site
                  <i class="uil uil-arrow-right button__icon"></i>
                </a>
              </div>
            </div>

            <div class="portfolio__content grid swiper-slide">
              <img
                src="img/projects/votre-consultation-screenshot.png"
                alt="Image Projet"
                class="portfolio__img"
              />

              <div class="portfolio__data">
                <h3 class="portfolio__title">
                  Landing page de consultation voyance
                </h3>
                <p class="portfolio__description">
                  Une landing page mulitlingue simple d'acquisition de
                  consultation pour une prestation de voyance. (Projet
                  professionnel)
                </p>
                <a
                  href="https://votre-consultation.cosmospacevoyance.fr/"
                  class="button button--flex button--small portfolio__button"
                  target="_blank"
                >
                  Voir le site
                  <i class="uil uil-arrow-right button__icon"></i>
                </a>
              </div>
            </div>

            <div class="portfolio__content grid swiper-slide">
              <img
                src="img/projects/soundcoin-screenshot.png"
                alt="Image Projet"
                class="portfolio__img"
              />

              <div class="portfolio__data">
                <h3 class="portfolio__title">Marketplace NFT</h3>
                <p class="portfolio__description">
                  Projet personnel en cours d'un marketplace fictif de NFT créée
                  avec NextJS.
                </p>
                <a
                  href="https://soundcoin.vercel.app/"
                  class="button button--flex button--small portfolio__button"
                  target="_blank"
                >
                  Demo
                  <i class="uil uil-arrow-right button__icon"></i>
                </a>
              </div>
            </div>

            <div class="portfolio__content grid swiper-slide">
              <img
                src="img/projects/skillzbox-screenshot.png"
                alt="Image Projet"
                class="portfolio__img"
              />

              <div class="portfolio__data">
                <h3 class="portfolio__title">Plateforme d'entraide en ligne</h3>
                <p class="portfolio__description">
                  Projet personnel en cours d'une plateforme d'entraide en ligne
                  selon des catégories (musique, dessin, développement, etc.)
                  créée avec NextJS.
                </p>
                <a
                  href="#"
                  class="button button--flex button--small portfolio__button"
                  target="_blank"
                >
                  Demo bientôt disponible
                  <i class="uil uil-arrow-right button__icon"></i>
                </a>
              </div>
            </div>

            <div class="portfolio__content grid swiper-slide">
              <img
                src="img/projects/foodo-screenshot.png"
                alt="Image Projet"
                class="portfolio__img"
              />

              <div class="portfolio__data">
                <h3 class="portfolio__title">Landing Page</h3>
                <p class="portfolio__description">
                  Mon premier projet personnel avec NextJS, une landing page
                  d'un produit fictif.
                </p>
                <a
                  href="https://landing-page-nextjs-one.vercel.app/"
                  class="button button--flex button--small portfolio__button"
                  target="_blank"
                >
                  Demo
                  <i class="uil uil-arrow-right button__icon"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-button-next">
            <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
          </div>
          <div class="swiper-button-prev">
            <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
      <!-- PORTFOLIO END -->

      <!-- CONTACT -->
      <section class="contact section" id="contact">
        <h2 class="section__title">Contactez-moi</h2>
        <span class="section__subtitle">Pour toute demande</span>

        <div class="contact__container container grid">
          <div class="contact__information">
            <i class="uil uil-phone contact__icon"></i>

            <div>
              <h3 class="contact__title">Téléphone</h3>
              <span class="contact__subtitle">07.81.96.50.60</span>
            </div>
          </div>

          <div class="contact__information">
            <i class="uil uil-envelope contact__icon"></i>

            <div>
              <h3 class="contact__title">Email</h3>
              <span class="contact__subtitle">kevinsanmartin@live.fr</span>
            </div>
          </div>

          <div class="contact__information">
            <i class="uil uil-map-marker contact__icon"></i>

            <div>
              <h3 class="contact__title">Localisation</h3>
              <span class="contact__subtitle">Grasse, PACA. France</span>
            </div>
          </div>
        </div>
      </section>
      <!-- CONTACT END -->
    </main>
    <!-- MAIN END -->

    <!-- FOOTER -->
    <footer class="footer">
      <div class="footer__bg">
        <div class="footer__container container grid">
          <div>
            <h1 class="footer__title">Kévin Sanmartin</h1>
            <span class="footer__subtitle">Développeur Front-End</span>
          </div>

          <ul class="footer__links">
            <li>
              <a href="#skills" class="footer__link">Compétences</a>
            </li>
            <li>
              <a href="#portfolio" class="footer__link">Portfolio</a>
            </li>
            <li>
              <a href="#contact" class="footer__link">Contact</a>
            </li>
          </ul>

          <div class="footer__socials">
            <a
              href="https://www.linkedin.com/in/k%C3%A9vin-sanmartin/"
              class="footer__social"
              target="_blank"
              rel="noopener"
            >
              <i class="uil uil-linkedin-alt"></i>
            </a>
            <a
              href="https://github.com/kevin-smrt"
              class="footer__social"
              target="_blank"
              rel="noopener"
            >
              <i class="uil uil-github-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <!-- FOOTER END -->

    <!-- SCRIPT -->
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/sendMail.js"></script>
    <!-- SCRIPT END -->
  </body>
</html>
